@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black box-border
}

::-webkit-scrollbar {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}